.white-icon {
    color: white;
}

.card-teal {
    width: 85%;
    background-color: #264653;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row {
    margin-right: 60px;
}